.borderPhoneInput {
  width: 100% !important;
  padding: 10px !important;
  border-radius: 3.25rem !important;
  padding-left: 49px !important;
  height: 61px !important;
  border: 1px solid #e5e5e5 !important;
}
.react-tel-input .flag{
    width: 19px;
    height: 14px;
}
.react-tel-input .selected-flag{
    width: 100% !important;
    padding: 0px 0 0 18px !important;
}