body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.swiper-wrapper .swiper-slide {
  padding: 0px !important;
}

/* pregnancy */
.trimesterMobile {
  justify-content: center !important;
  display: flex !important;
}
.mobileHeaderText {
  justify-content: center;
  text-align: center;
}
.mobileSingleStage {
  flex-direction: column;
  align-items: center;
}
.colReverse {
  flex-direction: column-reverse;
}
.trimesters {
  --bs-gutter-x: 4.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.kit {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 24px 24px 50px 24px;
  background-color: #FFF4F7 !important;
  border-radius: 20px 0px 0px 20px !important;
  margin: 3rem 0rem;

}

.breadcrumb-style-2 .container {
  max-width: 100% !important;
}

.css-ojjc1e {
  padding: 60px 40px !important;
}

.css-123hzpr-MuiTypography-root {
  font-size: 25px !important;
}