body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.swiper-wrapper .swiper-slide {
  padding: 0px !important;
}

/* dashboar */
.Icon:hover {
  background-color: #2b2e64;
  color: white;
  /* padding: 1rem; */
}
.Icon {
  border-radius: 50px;
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.listItem:hover {
  background-color: transparent !important;
}
.selectedIcon {
  background-color: #2b2e64;
  color: white;
}
.detailsInput {
  background-color: #e5e5e5 !important;
  font-size: 1.5rem !important;
}

/* cart */
.cart {
  display: flex;
  padding: 9rem 10rem;
  gap: 3rem;
}
.leftCartSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  /* padding: 0dvh; */
}
.cartProducts {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0rem 3rem 0rem 0rem;
}
.cartProductsMobile {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}
.productDetails {
  display: flex;
  flex-direction: column;
}
.productAmount {
  display: flex;
  flex-direction: column;
}
.rightCartSection {
  display: flex;
  width: 35%;
  border: 1px solid #e5e5e5;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1.5rem;
  gap: 2rem;
}
.discount {
  display: flex;
  justify-content: space-between;
}
/* help section */
.helpDetailSection {
  width: 65%;
  /* border: 1px solid red; */
  height: 100%;
}
.issuesButton {
  background: #2b2e64 !important;
  background-color: #2b2e64 !important;
}
.issuesButton:hover {
  background: #2b2e64 !important;
  background-color: #2b2e64 !important;
}

/* --------------0 */

.innerPage {
  margin-top: 20px;
  .form-header {
    background-color: #2b2e64;
    display: flex;
    align-items: center; /* To vertically center the image */
  }

  .form-header img {
    margin-left: auto; /* Pushes the image to the right */
  }
  .innerPageHeading {
    color: white;
    text-align: center;
    background-color: #2b2e64;
    padding-bottom: 20px;
  }
  .innerPageHeading1 {
    color: white;
    text-align: start;
    background-color: #2b2e64;
    padding: 20px;
  }
  .formBox {
    margin: 0px;
    padding: 30px;
    border: 0.01px solid whitesmoke;
    .formBox1 {
      margin-top: 20px;
      border: 0.5px solid grey;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .field {
      padding: 10px 20px 10px 20px;
      display: flex;
      align-items: end;
      .fieldName {
        color: #2b2e64;
        padding-top: 10px;
        font-size: 2rem;
        white-space: nowrap;
      }
    }
  }
}
/* phone input */
.borderPhoneInput{
  width: 100% !important;
  padding: 10px !important;
  border-radius: 0.25rem !important;
  padding-left: 49px !important;
  height: 61px !important;
  border: none !important;
}
.layoutItem {
  margin: '6px !important';
}