.Icon:hover {
  background-color: #2b2e64;
  color: white !important;
}
.Icon {
  border-radius: 50px;
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.listItem:hover {
  background-color: transparent !important;
}
.selectedIcon {
  background-color: #2b2e64;
  color: white !important;
  border-radius: 50px;
  width: 4.5rem !important;
  height: 4.5rem !important;
  padding:0.5rem;
}
.textFieldContainer {
  display: flex; /* Allow horizontal layout */
  align-items: center; /* Align label and input vertically */
}

.textFieldContainer .MuiFormControl-label {
  margin-right: 10px;
}

.tableCellWithCircle {
  border: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  background-color: #01d501;
  border-radius: 45%;
  width: 50%;
  margin: auto;
}
.detailsInput{
  background-color: #e5e5e5 !important;
  font-size: 1.5rem !important;
}