.Icon:hover {
  background-color: #9e64f6;
  color: white !important;
}
.Icon {
  border-radius: 50px;
  width: 3.5rem !important;
  height: 3.5rem !important;
}

.listItem:hover {
  background-color: transparent !important;
}
.selectedIcon {
  background-color: #9e64f6;
  color: white !important;
}
