.bannerImage {
  justify-content: end;
  display: flex;
  top: -4rem;
  position: absolute;
  z-index: 9999999999999;
  right: 4rem;
}
.bannerImageMobile {
  justify-content: end;
  display: flex;
  width: 6rem;
  justify-content: end;
  display: flex;
  top: -2rem;
  position: absolute;
  z-index: 9999999999999;
  right: 2rem;
}
.whybankContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;
}
.whybankHeart {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50%;
}
.cardContainer {
  display: flex;
  gap: 1rem;
  align-items: self-start;
  justify-content: center;
  padding: 1rem;
}
.card1 {
  background-color: #9c27b0;
  padding: 35px 25px 35px 20px;
  border-style: solid;
  border-width: 0px 0px 0px 30px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.card2 {
  background-color: #00bcd4;
  padding: 35px 25px 35px 20px;
  border-style: solid;
  border-width: 0px 0px 0px 30px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.card3 {
  background-color: #4caf50;
  padding: 35px 25px 35px 20px;
  border-style: solid;
  border-width: 0px 0px 0px 30px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 5px 5px;
  color: white;
}
.card1:hover,
.card2:hover,
.card3:hover {
  opacity: 0.7; /* Adjust the opacity as needed */
  transition: all 0.4s ease;
}

.card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.whyPreserveContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* padding: 15rem; */
}

.basketball {
  position: absolute;
  top: -5rem;
  margin-left: 6rem;
  animation-name: ekit-rotate;
  opacity: 1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes basketball {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.whyPreserveCard {
  background: #d3f3ff;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px;
  padding: 7rem !important;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column !important;
  gap: 3rem;
}
.whyPreserveCard:hover {
  background: #0693e3;
}
.WhyShouldContent {
  width: 70%;
  /* margin-top: 14rem; */
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.spectrum-circl {
  /* left: 17px !important;
    top: -55px !important;
    width: 100px !important; */
}

.appointmentContainer {
  display: flex;
  gap: 3rem;
}

.appointmentContainerMobile {
  display: flex;
  gap: 3rem;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
}
.appointmentForm {
  align-content: center;
  align-items: center;
  display: flex;
  background-color: #fef5ff;
  border-radius: 20px;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(189.74999999999997, 189.74999999999997, 189.74999999999997, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px;
  padding: 30px;
  position: relative;
  width: 50%;
  flex-wrap: wrap;
  gap: 1rem;
}
.appointmentext {
  align-items: self-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 50%;
}
.bookImage {
  animation-name: bookImage;
  opacity: 1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  z-index: 9999999;
  top: 3rem;
  left: 0px;
  position: absolute;
}

@keyframes bookImage {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.appointmentInput {
  background-color: #fdfdfd !important;
  border-radius: 40px !important;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px 32px;
  height: 60px !important;
  letter-spacing: 0.3px;
  border: none !important;
  border-color: transparent !important;
}

.appointmentInput:focus {
  border: none !important;
  border-color: transparent !important;
}
.appointmentBtn {
  background-color: #d5008d !important;
  border: 1px solid #ddd0 !important;
  color: #fffcfc !important;
  font-size: 1rem !important;
  font-family: inherit;
  padding: 13px 20px;
  border-radius: 40px !important;
  width: 100%;
}
.fullWidth {
  grid-column: 1 / -1;
}
.birdImg {
  animation-name: bookImage;
  opacity: 1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  z-index: 2;
  position: absolute;
  bottom: 15rem;
  left: 4rem;
}
.statsCard {
  box-shadow: 0px 0px 10px 0px #055ea2 !important;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s !important;
  margin: 3% !important;
  padding: 20px !important;
  border-radius: 40px !important;
}
.statsNumber {
  color: #9c29b2;
  font-family: "Charm", Sans-serif;
  font-size: 52px;
}
.statsTitle {
  color: #000000 !important;
  font-family: "Baloo 2", Sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  letter-spacing: 0.4px !important;
  white-space: nowrap !important;
}
.statsCardAction:hover {
  background: transparent !important;
}
.butterflyImage {
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: rotate(-29deg);
  filter: blur(0px);
}
.googleBtn {
  color: #fff !important;
  padding: 6px 15px 10px !important;
  outline: none !important;
  border-radius: 27px !important;
  background: #0a6cff !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  text-shadow: 1px 1px 0 #888 !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
  transition: all 0.2s ease-in-out !important;
}
.testimonailContainer {
  background-color: #fff7ef61;
  /* background-image: url(https://www.cryovault.in/wp-content/uploads/2024/01/testimonial-3-icon-hand.png); */
  background-position: center right;
  background-repeat: no-repeat;
  background-size: auto;
}
.testimonialAboveImage {
  transform: rotate(180deg);
}
.singleSlide {
  padding: 54px 60px 60px 60px;
  box-shadow: -30px 30px 60px 0px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  position: relative;
  transition: all 0.4s ease;
  z-index: 1;
  width: 65%;
}
.bell {
  position: absolute;
  transform: translateY(140px);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform var(--e-transform-transition-duration, 0.4s);
}

.bounce-animation {
  z-index: 0 !important;
  animation: ekit-bounce 5s ease-in alternate infinite;
}

@-webkit-keyframes ekit-bounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes ekit-bounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.videoContainer {
  background-color: #ffdd98;
  position: relative;
  padding: 10rem;
}
.videoContainerImage {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  position: absolute;
  width: 100%;
}
.enrollText {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.callUsContainer {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}
.blogText {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
.singleCard {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
  width: 40rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.blogAppleMobile {
  top: -100px !important;
  right: 0px !important;
  z-index: 0 !important;
}
.blogCloudMobile {
  top: -100px !important;
  z-index: 0 !important;
  right: 0px !important;
}

.shape_inMobile {
  position: relative;
  display: flex;
  justify-content: center;
}

.shape_inMobile::before {
  content: "";
  width: 100px;
  height: 1.3px;
  background: #fff;
  position: absolute;
  left: -60px;
  margin: auto;

  top: 14px;
}
.shape_inMobile::after {
  content: "";
  width: 100px;
  height: 1.3px;
  background: #fff;
  position: absolute;
  left: 0px;
  margin: auto;
  right: revert-layer;
  top: 14px;
}

.shape_inMobile-bk::before,
.shape_inMobile-bk::after {
  background: #000;
}

.shape_inMobileTestimonial {
  position: relative;
  display: flex;
  justify-content: center;
}

.shape_inMobileTestimonial::before {
  content: "";
  width: 100px;
  height: 1.3px;
  background: #fff;
  position: absolute;
  left: 90px;
  margin: auto;

  top: 14px;
}
.shape_inMobileTestimonial::after {
  content: "";
  width: 100px;
  height: 1.3px;
  background: #fff;
  position: absolute;
  right: 90px;
  margin: auto;
  top: 14px;
}

.shape_inMobileTestimonial-bk::before,
.shape_inMobileTestimonial-bk::after {
  background: #000;
}
