body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

:root {
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
a {
  display: block;
}
ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
.swiper-pagination-bullet {
  margin-top: 10px !important; /* Adjust the margin-top value as needed */
}

.bullet_class {
  color: white !important;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: white !important;
  border: 0.35rem solid white;
}

.blue_color {
  background-color: #0072b1 !important;
  color: #0072b1 !important;
  border: 0.35rem solid #0072b1;
}

/* Chrome, Edge, and Safari */
.horizontal-scrollbar::-webkit-scrollbar {
  height: 5px; /* Adjust height for desired thickness */
}

/* Firefox (prior to version 79) */
.horizontal-scrollbar {
  scrollbar-width: thin; /* Or 'none' to hide completely */
}