<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .reset-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        .reset-form h2 {
            margin-top: 0;
            font-size: 24px;
            text-align: center;
        }

        .reset-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .reset-form input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .reset-form button {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .reset-form button:hover {
            background-color: #45a049;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }

        .password-toggle {
            position: relative;
        }

        .password-toggle input[type="password"] {
            padding-right: 30px;
        }

        .password-toggle .toggle-password {
            position: absolute;
            top: 35%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
</head>

<body>

    <div class="reset-form">
        <h2>Password Reset</h2>
        <form id="resetForm" action="/flyingbyts/api/user/employeeOrAdminResetPassword" method="POST"
            onsubmit="return validatePassword()">
            <input type="hidden" name="token" value="${token}">

            <div class="password-toggle">
                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility()">
                    <i id="eye-icon" class="fa fa-eye"></i>
                </span>
            </div>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <button id="myButton" type="submit">Reset Password</button>
            <div id="errorMessage" class="error-message" style="display: none;"></div>
        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </div>


    <script>

        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("newPassword");
            var eyeIcon = document.getElementById("eye-icon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.className = "fa fa-eye-slash";
            } else {
                passwordInput.type = "password";
                eyeIcon.className = "fa fa-eye";
            }
        }

        function validatePassword() {
            var password = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            if (password !== confirmPassword) {
                event.preventDefault();
                errorMessage.textContent = 'New and confirm passwords do not match.';
                errorMessage.style.display = 'block';
                return false;
            }
            else if (password === confirmPassword) {
                errorMessage.style.display = 'none';
            }

            if (passwordRegex.test(password) == false) {
                event.preventDefault();
                errorMessage.textContent = 'Password must contain at least one uppercase letter, one lowercase letter, one digit, one special character, and be at least 8 characters long.';
                errorMessage.style.display = 'block';
                return false;
            }
            else if(passwordRegex.test(password) == true){
                errorMessage.style.display = 'none';
            }

            return true;
        }

    </script>

</body>

</html>